/*
	Monochromed by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

@charset 'UTF-8';

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background: #090909;
		height: auto; !important;
	}

	body,input,textarea,select
	{
		font-family: 'Oxygen', sans-serif;
		font-size: 13pt;
		line-height: 2em;
	}

	h1,h2,h3,h4,h5,h6
	{
		font-weight: bold;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}
		
	/* Change this to whatever font weight/color pairing is most suitable */
	strong, b
	{
		font-weight: bold;
		color: #000000;
	}

    bold
    {
        font-weight: bold;
        color: white;
    }

	em, i
	{
		font-style: italic;
	}

	/* Don't forget to set this to something that matches the design */
	a
	{
		color: green;
        text-decoration: none;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1em;
	}

	header
	{
	}
	
		header h2
		{
			letter-spacing: -1px;
			font-weight: 700;
		}
	
		header .byline
		{
			display: block;
			text-transform: uppercase;
		}
		
	footer
	{
		margin-top: 1em;
	}

	br.clear
	{
		clear: both;
	}
	
	/* Buttons */
		
		.button
		{
			position: relative;
			display: inline-block;
			margin-top: 2em;
			padding: 0.8em 1.5em;
			background: #1d1d1d;
			border-radius: 6px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1em;
			color: yellow;
			-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			cursor: pointer;
		}

			.button:hover
			{
				background: #141414;
				color: #FFF !important;
			}
	

	/* Sections/Articles */
	
		section,
		article
		{
			margin-bottom: 3em;
		}
		
		section > :last-child,
		article > :last-child
		{
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child
		{
			margin-bottom: 0;
		}

		.row > section,
		.row > article
		{
			margin-bottom: 0;
		}

	/* Images */

		.image
		{
			display: inline-block;
		}
		
			.image img
			{
				display: block;
				width: 100%;
				border-radius: 6px;
			}

			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.full
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

	/* Lists */
        #readme ul {list-style-type: disc;}

        #readme ol {list-style-type: lower-roman;}

		ul.default
		{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
			ul.default li
			{
				padding: 0.50em 0em;
			}	
		
		ul.style1
		{
			font-size: 0.90em;
		}	

			ul.style1 li
			{
				padding: 0.80em 0em;
				line-height: 1.8em;
			}	

			ul.style1 li img
			{
				float: left;
				margin-right: 1.50em;
				border-radius: 6px;
			}
			
			ul.style1 .posted
			{
				display: block;
				margin-top: 1em;
				padding: 0.50em 0em;
			}

#main ol {list-style-type: lower-roman; margin:1.2em;}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
        /* <a href='http://www.123rf.com/profile_nicvw'>nicvw / 123RF Stock Photo</a> */
        position: relative;
		background: #ddd url(../images/header.jpg) no-repeat;
		background-size: cover;
	}

	#logo
	{
	}
	
	#nav
	{
	}

		#nav ul
		{
			margin: 0;
		}
	
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		background: #333;
		color: #fff;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
		background: #fff url(images/overlay.png) repeat;
	}
	
	.divider
	{
		overflow: hidden;
		border-top: 1px solid #dbdbdb;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		position: relative;
		background: #121212;
		color: rgba(255,255,255,.4);
	}
	
	#footer header h2
	{
		color: #FFF;
	}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		padding: 3em 0em;
		text-align: center;
		color: rgba(255,255,255,.2);
	}
	
	#copyright .container
	{
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,.3);
	}

/***********************************************************************************/
/* Code Line Numbering
/***********************************************************************************/
pre {
    padding: 12px 30px !important;
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    background: #FFF;
    overflow: hidden;
}

code {
  display: block;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  font-size: 0.8em;
}

code.has-numbering {
    margin-left: 21px;
}

.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    padding: 7px 2px 12px 0;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #EEE;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 0.8em;
    color: #AAA;
}

#readme ul.pre-numbering {
    list-style-type: none;
    padding-left: 0px; !important;
    margin: 0px; !important;
}
